In [1]:
import requests
from io import StringIO
import pandas as pd
import numpy as np
import tqdm
import nltk
import sklearn.metrics as metrics

In [2]:
import os
os .chdir('C:\\Users\\Kristin\\Documents\\DataSets')

In [5]:
ct = pd.read_csv('pm-abstracts-DOCS2-CT.csv').set_index('abstract_id')
ct

                                                       doc_str
abstract_id
11744656      During exercise, pulse oximetry is problemati...
11744658      The physiological and metabolic demands of hi...
11744678      This study compared the effect of repetitive ...
11774067      Abstract. Relations between frequently used i...
11782651      PURPOSE: To investigate the influences of men...
...                                                        ...
36235628      This research examined the effects of single-...
36237580      The issue of sports injury and rehabilitation...
36243785      Women with overweight or obesity (OWOB) have ...
36246968      PURPOSE: Cervical radiculopathy is disorder o...
36249264      OBJECTIVE: Cognitive function is essential in...

[20311 rows x 1 columns]

In [10]:
words = ['app ']

app = ct[ct['doc_str'].str.contains('|'.join(words))]
app

In [12]:
HD = ['heart disease', 'cardiovascular disease', 'clogged arteries', 'coronary disease', 'angina', 'heart failure', 'peripheral arterial disease', 'PAD', 'atherosclerosis', 'coronary', 'CAD', 'heart attack', 'arrhythmia', 'chest pain', 'heart', 'chest pain', 'chest tight' ]
OB = ['obese', 'obesity', 'overweight', 'weight problem', 'BMI', 'excess weight', 'morbidly', 'body weight', 'body fat', 'fat', 'breathless', 'shortness']
DB = ['diabetic', 'diabetics', 'diabetes', 'type 1', 'type 2', 'insulin', 'glucose','prediabetes', 'prediabetic', 'tingle', 'tingling', 'blurry', 'urination', 'urinating', 'urinates' ]
MH = ['depression', 'anxiety', 'mental health', 'GAD', 'panic', 'burnout', 'depressive disorder', 'bipolar', 'MDD', 'PDD', 'PPD', 'OCD', 'trauma', 'PTSD', 'depressive','anxious', 'mental', 'psychological', 'restless', 'irritable', 'irritability', 'sleep']

In [21]:
H = app[app['doc_str'].str.contains('|'.join(HD))]
H

                                                       doc_str
abstract_id
24982490      BACKGROUND: Physical inactivity is a major, p...
29488798      BACKGROUND: Evidence on the efficacy of smart...
31761149      The importance of modifying lifestyle factors...
32324307      BACKGROUND: Supervised exercise therapy (SET)...
32771018      BACKGROUND: Technological progress has enable...
33882601      INTRODUCTION: Mobile phone-based intervention...
34334715      INTRODUCTION: Innovative strategies are neede...
34673536      BACKGROUND: Patients with inflammatory rheuma...

In [20]:
O = app[app['doc_str'].str.contains('|'.join(OB))]
O

                                                       doc_str
abstract_id
29488798      BACKGROUND: Evidence on the efficacy of smart...
34334715      INTRODUCTION: Innovative strategies are neede...

In [19]:
D = app[app['doc_str'].str.contains('|'.join(DB))]
D

                                                       doc_str
abstract_id
32771018      BACKGROUND: Technological progress has enable...
34334715      INTRODUCTION: Innovative strategies are neede...

In [18]:
M = app[app['doc_str'].str.contains('|'.join(MH))]
M

                                                       doc_str
abstract_id
31761149      The importance of modifying lifestyle factors...
34334715      INTRODUCTION: Innovative strategies are neede...